# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
*.egg

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# Graphviz / Output
# =========================
output/
*.dot
*.png

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / Temporary
# =========================
*.log
*.tmp
